*.env
pyspark/Introduction/dataset/*
pyspark/Spark_sources_and_sinks/SparkSchemaDemo/dataset*
pyspark/Spark_sources_and_sinks/SparkSqlTables/dataset/*
pyspark/SparkTransformations/SparkSqlTables/dataset/*
pyspark/DataFrameJoins/notebook/dataset*
pyspark/DataFrameJoins/DF_joins/dataset/*
pyspark/Pyspark_project/notebook/dataset/*
pyspark/Pyspark_project/project_typeR/dataset/*
.databricks
